@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  a, button {
    cursor: pointer;
  }

  html {
    font-family: 'Roboto', sans-serif;
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
  }

  body {
    padding-inline: 1rem;
    -web-font-smoothing: antialiased;
  }

  body, input, textarea, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
}

.serviceCard::before {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: hsla(240, 41%, 42%, 0.44)
;
}
